.login-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  

  min-height: 100vh;
  width: 100%;


  background-color: #f0f2f5; 
}

.login-card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: none !important;
  width: 100%;
  max-width: 600px;
}

.login-card .ant-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}