networks:
  backend:

volumes:
  postgres_data:

services:
  db:
    image: postgres:17
    environment:
      - POSTGRES_USER=changeme
      - POSTGRES_PASSWORD=changeme
      - POSTGRES_DB=changeme
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./postgres/configs/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - backend
    #Without this the api endpoint can try to reach postgres before It's ready to accept connection
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U changeme -d changeme"]
      interval: 5s
      timeout: 5s
      retries: 5  

  api:
    build: ./api  
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./api/src:/app 
    ports:
      - "8000:8000" 
    environment:
      - DATABASE_URL=postgresql://changeme:changeme@db/changeme
    depends_on:
      db: 
        condition: service_healthy
    networks:
      - backend

  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - api
