networks:
  backend:

volumes:
  postgres_data:

services:
  db:
    image: postgres:17
    environment:
      - POSTGRES_USER=changeme
      - POSTGRES_PASSWORD=changeme
      - POSTGRES_DB=changeme
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./postgres/configs/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - backend 

  api:
    build: ./api  
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./api/src:/app 
    ports:
      - "8000:8000" 
    environment:
      - DATABASE_URL=postgresql://user:password@db/mydb
    depends_on:
      - db
    networks:
      - backend

  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - api
