.match-setting-details-popup .status-section {
  margin-bottom: 16px;
}

.match-setting-details-popup .tests-section {
  margin-top: 24px;
}

.match-setting-details-popup .ant-card-head-title {
  font-size: 14px;
}
